*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  max-width: 1390px;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #102746;
}




/* LOADER */
.mask {
  height: 100%;
  width: 100%;
  background-color: white;
  position: fixed;
  top: 0;
  z-index: 100;
  transition: 0.8s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: 10px solid rgb(37, 115, 129);
  border-left-color: #7d167d00;
  animation: loader 1.3s linear infinite;
}

@keyframes loader {
  100% {
    transform: rotate(360deg);
  }

}

.hide {
  opacity: 0;
}

/* HEADER */
.wrapper {
  padding: 10px;
  margin-top: 15px;
  display: flex;
  max-width: 1390px;
  max-height: 96px;
  margin: 0 auto;
}

.header__logo-link2 {
  display: flex;
}

.header__list {
  width: 800px;
  display: flex;
  gap: 80px;
  font-size: 22px;
  margin-left: 250px;
}

.header__logo2 {
  margin-left: 20px;
}
 



/* BURGER */
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav-toggle {
  display: none; 
  cursor: pointer;
}

.header__nav-toggle-line {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 5px 0;
}



.header__item-link {
  padding: 10px;
  text-decoration: none;
  color: #070707;
}
/* SLIDER */
.image img {
  display: none;
}

.image img:first-child {
  display: block;
}






/* main section */
.section {
  margin-top: 90px;
}

.image {
  margin-left: 350px;
}

.wrap {
  display: grid;
  grid-template-columns: 400px 400px;
  position: relative;
  width: 1400px;
  height: 100%;
}

.date {
  margin-left: 80px;
  position: relative;

}

.datee {
  width: 600px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  font-size: 20px;
}

.month {
  padding: 3px;
  font-size: 15px;
}

.art {
  font-size: 15px;
  border-radius: 13px;

}

.PAINTING {
  margin-left: 20px;
  font-size: 15px;
  border-radius: 20px;
}

.zagalov {
  line-height: 60px;

  font-size: 70px;
  color: #000;
}

.text {
  line-height: 40px;
  width: 400px;
  height: 115px;
  color: #000;
  font-size: 27px;
}

/* section2 */
.section2 {
  margin-top: 80px;
}

.latest {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.posts {
  display: flex;
  align-items: center;

}

.section2__logo2 {
  margin-left: 1000px;
  position: relative;
  width: 80px;
  height: 30px;

}

.section2__latest {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 20px;
  width: 500px;
  height: 30px;
}


.button {
  display: flex;
  margin-left: 20px;
  border-radius: 15px;

}

.buttonss {
  background-color: #000;
  color: #fff;
  border-radius: 15px;
}

.buttons {
  border-radius: 15px;
  margin-left: 7px;
}

.logo {
  margin-left: 3px;
}

/* products--link */
.sale__flower-link {
  display: flex;
  flex-wrap: wrap;
}

/* butons .products */
.products {
  display: flex;
  flex-wrap: wrap;
  width: 1390px;
  height: 1660px;
  gap: 15px;
  padding: 10px;
}

.sale__battle-link {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.product__bloc3 {
  margin-top: 30px;
}

.product__bloc2 {
  margin-top: 35px;
}

.sale__button-book {
  border-radius: 15px;
}

/* section3 */
.section3 {
  width: 1390px;
}

.popular {
  padding: 8px;
}

.section3__popular2 {
  text-align: center;
  margin-left: 1250px;
}

.section3__logos {
  display: flex;
  flex-wrap: wrap;
  width: 1385px;
  padding: 10px;
  gap: 10px;
}

.section3__logo1,
.section3__logo1 {
  width: 692px;

}

.jul,
.aug {
  display: flex;
  flex-wrap: wrap;
  font-size: 35px;
  margin-top: 5px;
}

.section3__vision {
  border-radius: 30px;
  font-size: 22px;
}

.section3__image-text {
  font-size: 25px;
  color: #184f96;
}

.section3__sourc {
  width: 1100px;
  height: 760px;
  padding: 100px;
  margin-top: 7px;
}

.section3-h1 {
  font-size: 60px;
}

.sourc1 {
  border-radius: 30px;
  font-size: 40px;
}

/* section4 */
.section4__1 {
  width: 1390px;
  height: 700px;
  background: url(../img/svg/div.qodef-e-media-image\ \(7\).svg) no-repeat;
}

.blok1 {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
  margin-left: 20px;
}

.sep {
  margin-top: 30px;
}

.sectio4__buttons {
  margin-top: 30px;
}

.abacus {
  border-radius: 15px;
  margin-left: 7px;
}

.golden {
  border-radius: 15px;
  margin-left: 7px;
}

.blok2 {
  width: 300px;
  height: 300px;
  line-height: 50px;
  font-size: 60px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.blok3 {
  margin-left: 20px;
  margin-bottom: 00px;
}

/* section5 */
.section5 {
  width: 1380px;
}

.section5__header {
  margin-top: 17px;
}

.section5__header2 {
  margin-left: 1290px;
}

.section5__image {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  gap: 10px;
}

.section5-text {
  font-size: 25px;
  color: rgb(6, 229, 129);
}

.button__about1 {
  border-radius: 20px;
  margin-top: 5px;
  font-size: 20;
  border-color: yellowgreen;
}

.section5__text {
  padding: 140px;
  font-size: 55px;
  line-height: 60px;
}

/* footer */
.footer__header {
  display: flex;
  gap: 40px;
  margin-left: 400px;
  margin-bottom: 40px;
}

.chats {
  display: flex;
  margin-left: 450px;
  gap: 47px;

}

.footer__hr {
  width: 600px;
 
}

.adress {
  margin-left: 450px;
}



/* ADAPTATSIA */
@media (max-width:1400px) {
  .wrap {
    width: 1050px;
    grid-template-rows: 1fr;
  }

  .products {
    display: flex;
    flex-wrap: wrap;
    height: 1900px;
  }

  .product__bloc1,
  .product__bloc2,
  .product__bloc3 {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (max-width:1000px) {
  .wrap {
    width: 1150px;
    grid-template-rows: 1fr;
  }
  .products {
    display: flex;
    flex-wrap: wrap;
  }
  .product__bloc1,
  .product__bloc2,
  .product__bloc3 {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

  }
  .header__nav-toggle {
    display: block;
    width: 50px;
    height: 50;
    margin-left: 30px;
    border: none;
  }
  .header__list {
  display: none;
  flex-direction: column;
  }
  .header__list.open {
    width: 1000px;
    display: flex;
    gap: 1px;
    font-size: 30px;
    margin-left: 30px;
  }
   .open{
   color: aqua;
  }

  
  
}

@media (max-width:800px) {
  .wrap {
    width: 750px;
    grid-template-rows: 1fr;
  }

  .products {
    display: flex;
    flex-wrap: wrap;

  }

  .product__bloc1,
  .product__bloc2,
  .product__bloc3 {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

  }

}

@media (max-width:500px) {
  .wrap {
    width: 400px;
    grid-template-rows: 1fr;
  }

  .products {
    display: flex;
    flex-wrap: wrap;

  }

  .product__bloc1,
  .product__bloc2,
  .product__bloc3 {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

  }

}

